.background {
    -fx-background-image: url("../images/background.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.loginBtn {
    -fx-background-color: linear-gradient(to bottom, #77916f, #77916f);
    -fx-text-fill: #ffffff;
    -fx-background-radius: 30;
    -fx-effect: dropshadow(gaussian, rgba(88, 129, 87, 0.3), 12, 0.25, 0, 4);
}